.text-center{
    text-align: center;
}

.card-job-container{
    border-radius: 20px;
    background-color: black;
    padding: 30px;
    
}

.user-info-g{
    display: flex;
}

.location{
    margin-top: 20px;
    display: flex;
    align-items: center;
}