.div_what_is{
    margin-top: 7%;
    background: rgba(0, 0, 0, 0.5);

}

.div_what_is h1{
    width: fit-content;
    margin: auto;
    display: block;
    color: white;
    border-bottom: 3px solid crimson;
    border-radius: 15%;
}

.div_what_is img{
    width: 25%;
    display: inline-block;
    box-shadow: 1px 1px 1px 1px lightgreen;
    border-radius: 10%;
    margin-left: 1%;
}

.div_what_is p{
    width: 60%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    vertical-align: top;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media 
  (min-device-width: 300px) 
  and (max-device-width: 1024px) 
{

    .div_what_is img{
        width: 95%;
        display: block;
        box-shadow: 1px 1px 1px 1px lightgreen;
        border-radius: 10%;
        margin: auto;
    }
    

    .div_what_is p{
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: white;
    }
}
