.profile_info_container{
    width: 100%;
}

.test-form-container{
    margin: -14rem 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-info-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 3rem 4rem;
    margin: 0 6rem;
}

.label-update{
    display: flex;
    flex-direction: column;
}

.edit-photo{
    display: flex;
    align-items: flex-end;
}

.button-link{
    text-decoration: none;
}

.account-info-update{
    width: 100%;
    display: flex;
}

.account-update{
    padding: 0 2vw 0 1rem;
    /* width: -webkit-fill-available; */
    width: 100%;
}

.account-description{
    padding: 0 3rem;
}



.account-about-text{
    width: 90%;
}

.account_photo{
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);

}
@media 
(min-device-width:300px) 
and (max-device-width: 1024px) 
{

    .account-info-update{
        width: 100%;
        display: block;
        
    }

    .account-modifiders{
        display: block;
    }

  
    
}