.header-description{
    width: 50%;
    text-align: center;
}

.background-header{
    border-radius: 1rem;
    width: -webkit-fill-available;
    height: 34rem;
    margin: 1%;
    top: auto;
    z-index: -1;
}