.div_payment{
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    border: 1px solid silver;
    padding: 1%;
    border-radius: 3%;
    margin: 0.5%;
}

.div_payment  img{
    width: 30%;
    display: block;
    margin: auto;
    padding: 1%;
}

.div_payment h2{
    width: fit-content;
    display: block;
    margin: auto;
    padding: 1%;
    font-size: 1.5rem;
}

.div_payment  p{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
}

