.fact-container-one{
    padding: 150px 0;
    margin: 0 10rem;
    display: flex;
    align-items: center;
}

.fact-container-cert-three{
    padding: 150px 0 0;
    margin: 0 10rem;
    display: flex;
    align-items: center;
}


.fact-container-three{
    padding: 150px 0 0;
    margin: 0 10rem;  
}

.fact-cert-container-four{
    padding: 150px 0 0;
    margin: 0 10rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fact-cert-container-five{
    padding: 150px 0 150px;
    margin: 0 10rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fact-cert-button-five{
    width: 26%;
}

.fact-cert-content-five{
    background: #3B37FF;
    padding: 80px;
    border-radius: 50px;
}

.fact-container-cert-one{
    padding: 150px 0 0;
    margin: 0 10rem;  
}

.fact-container-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    margin: 0 10rem;  
}

.fact-title{
    text-align: center;
    margin-bottom: 60px;
}

.fact-cert-two-title{
    margin-bottom: 60px;
}

.fact-cert-four-title{
    margin-bottom: 60px;
}



.fact-content-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.fact-two-content-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.fact-two-content-conatiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    align-items: center;
    justify-items: end;
}

.fact-four-content-cards{
    margin-top: 2rem;
}

.div_icon_points{
    height: 15vh;
    width: 45vh;
}

@media 
(min-device-width: 300px) 
and (max-device-width: 1024px) 
{

    .fact-container-one{
        padding: 150px 0;
        margin: 1rem;
        display: block;
        
    }
    .fact-content{
        width: 95%;
        display: block;
        margin: auto;
    }

    .image-container{
        
        display: none;
    }
    
    /* __________ */
    .fact-container-three{
        margin: 1%;
        padding: 10px;
        
    }
    .fact-content-cards{
        display: block;

    }

    /* ___________ */
    .fact-container-four{
        display: block;
        padding: 10px 0;
        margin: 2rem 1rem;  
     
    }

    .fact-cert-container-four{
        padding: 15px 0 0;
        margin: 0 1rem;  
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fact-four-content-cards{
        width: 100%;
      
        
    }

    .div_icon_points{
        width: 17vh;
    }


    .fact-cert-container-five{
        padding: 2%;
        margin: 0 1%;  
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fact-cert-button-five{

        width: 50%;
    }
}