.input_1{
    font-size: 2rem;
    padding: 0.5%;
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 45%;
}

.button_1{
    background: linear-gradient(45deg,hotpink,navy);
    border-radius: 5%;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button_1:hover{
    transition: all 1s ease-in-out;
    border-radius: 10%;
    color: white;
}