.img_logo_menu{
    width: 5vh;
    height: 5vh;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.nav_menu{
    display: flex;
    z-index: 10;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#RouterNavLink{
    text-decoration: none;
    color: white;
    font-weight: 900;
    padding-right: 3%;
    padding-left: 3%;
}

.div_menu{
    margin: 0;
    display: flex;
    width: 100%;
    
}

@media 
(min-device-width: 300px) 
and (max-device-width: 1024px) 
{

    .img_logo_menu{
        display: none;
    }

    #RouterNavLink{
        text-decoration: none;
        color: white;
        font-weight: 400;
        padding-right: 1%;
        padding-left: 2%;
        font-size: 0.8rem;
        
    } 
}

