.nav_menu{
    display: flex;
    z-index: 10;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900;
    /* background: radial-gradient(rgba(0, 0, 0, 0.9),black); */
}

#RouterNavLink{
    text-decoration: none;
    color: white;
    font-weight: 900;
    padding-right: 3%;
    padding-left: 1%;
}

.div_menu{
    margin: 0;
    display: flex;
    width: 100%;
    
}

