.div_trends{
    margin-top: 7%;
    background: rgba(0, 0, 0, 0.1);
}

.div_trends h1{
    width: fit-content;
    margin: auto;
    display: block;
    color: white;
    border-bottom: 3px solid crimson;
    border-radius: 15%;
}

.div_trends h2{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div_trends ul{
    list-style: none;
    color: white;
    font-size: 1.2rem;

}

.div_trends li{
    padding-top: 1.2%;
}

.button_number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: radial-gradient(green,skyblue);
    color: white;
    padding: 1% 2%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 50%;
}

@media 
  (min-device-width: 300px) 
  and (max-device-width: 1024px) 
{

    .div_trends img{
        display: none;
    }

    .button_number{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: radial-gradient(purple,skyblue);
        display: block;
        margin: auto;
        color: white;
        padding: 1.2% 2%;
        outline: none;
        border: none;
        font-size: 2.5rem;
        border-radius: 50%;
    }

}